<div class="col-xs-4 gif-col">
  <%= link_to gif, data: { toggle: "modal", target: "#main_modal", remote: true } do %>
  <% if gif.url.blank? %>
    <%= attachment_image_tag(gif, :gif_image, class: "img-responsive gif", id: gif.id) %>
  <% else %>
    <img src="<%= gif.url %>" id ="<%= gif.id %>" class="img-responsive gif">
  <% end %>
    <div class="tag-list">
      <ul class="list-inline">
        <% gif.tag_list.each do |tag| %>
          <li><%= link_to tag_gifs_path(tag: tag.gsub("#", "")), class: "tag", remote: true do %>
            <h5><%= tag %></h5>
          <% end %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
