<div>
  <% if gif.url.blank? %>
    <%= attachment_image_tag(gif, :gif_image, class: "img-responsive", id: gif.id) %>
  <% else %>
    <img src="<%= gif.url %>" id ="<%= gif.id %>" class="img-responsive">
  <% end %>
  <h5>Image URL:</h5>
  <p><%= gif.url %></p>
  <h5>Uploaded By:</h5>
  <p><%= gif.user.username %></p>
  <h5>Uploaded At:</h5>
  <p><%= gif.created_at %></p>
  <% if gif.tag_list.any? %>
    <h5>Tag List:</h5>
    <p><%= gif.tag_list %></p>
  <% end %>
</div>
<% if current_user %>
  <div id="voting" class="pull-right">
    <div id="vote-count">
      <p><%= gif.plusminus %></p>
    </div>
    <div id="vote-arrows">
      <%= render partial: 'vote_arrows', locals: { voteable: gif } %>
    </div>
  </div>
<% end %>
